<h2 align="center">Welcome to Mores Creek Ambulance</h2>
<%= image_tag 'mca.jpg', :size => "459x345", :align => "right", :alt => "Mores Creek Ambulance" %><br>
<hr>

<p>
	<%= link_to 'General Information', :action => 'generalinfo' %><br>
	<%= link_to 'Volunteering and donating', :action => 'volunteerinfo' %><br>
	<%= link_to 'Application to volunteer (MS Word)', :action => 'memberapp' %><br>
	<%= link_to 'Our full brochure (MS Word)', :action => 'brochure' %><br>
	<%= link_to 'Cool LifeFlight Picture', :action => 'lifeflight' %>
</p>
<p>
	<b><%= link_to 'Members Only', :controller => 'members_only' %></b><br>
	<b><%= link_to 'Useful Links', :action => 'links' %></b>
</p>
<p>
	<%= mail_to "webmaster@mcaems.org", "E-mail this site's webmaster" %>
</p>