<h2>Executive Directives</h2>

<p>
	On August 3, 2011 the MCA Executive Board made the decision to periodically issue
	Executive Directives to further clarify our SOPs and Bylaws.  The initial directive can
	be found <%= link_to 'here', :action => 'serve_file', :name => 'MCA-Directives.pdf'%>.
</p>

<h3>2011 Directives</h3>
<ol>
	<li><%= link_to 'Executive Board Decisions', :action => 'serve_file', :name => 'MCA-2011-01.pdf' %></li>
	<li><%= link_to 'Expenditure of MCA Funds', :action => 'serve_file', :name => 'MCA-2011-02.pdf' %></li>
	<li><%= link_to 'Personnel Files, IAW SOP 2.10 & By-Law, Art #5 Sec.8', :action => 'serve_file', :name => 'MCA-2011-03.pdf' %></li>
	<li><%= link_to 'Member Terminations/Resignations', :action => 'serve_file', :name => 'MCA-2011-04.pdf' %></li>
	<li><%= link_to 'Membership Roster Changes', :action => 'serve_file', :name => 'MCA-2011-05.pdf' %></li>
	<li><%= link_to 'Associate Membership', :action => 'serve_file', :name => 'MCA-2011-06.pdf' %></li>
	<li><%= link_to 'MCA Web Page', :action => 'serve_file', :name => 'MCA-2011-07.pdf' %></li>
	<li><%= link_to 'Disciplinary Procedure', :action => 'serve_file', :name => 'MCA-2011-08.pdf' %></li>
</ol>