<table class="nolines wide meeting">
	<tr>
		<td>
			<h3>General meeting</h3>
			in <%= distance_of_time_in_words(Time.now, @time_general) %><br />
			(<%= @date_general.strftime("%a, %b %d") %><sup>*</sup> at 19:30)
		</td>
		<td>
			<h3>Board meeting</h3>
			in <%= distance_of_time_in_words(Time.now, @time_board) %><br />
			(<%= @date_board.strftime("%a, %b %d") %><sup>*</sup> at 19:30)
		</td>
	</tr>
</table>

<div id="boxarea">
	<div id="minutes" class="linkblk">
		<h4>Meeting Minutes &amp; Reports</h4>
		<ul>
			<li><%= link_to 'Board meetings', :action => 'board_notes' %></li>
			<li><%= link_to 'General Meetings', :action => 'general_notes' %></li>
			<li><%= link_to 'Advisory Board Meetings', :action => 'advisory_notes' %></li>
			<li><%= link_to 'Treasury Reports', :action => 'treasury_notes' %></li>
		</ul>
	</div>

	<div id="reference" class="linkblk">
		<h4>Reference Materials</h4>
		<ul>
			<li><%= link_to 'Standard Operating Procedures (SOPs)', :action => 'sops' %></li>
			<li><%= link_to 'Bylaws', :action => 'bylaws' %></li>
			<li><%= link_to 'Ambulance Operations', :action => 'ambulance_ops' %></li>
			<li><%= link_to 'Online PCR Guide', :action => 'serve_file', :name => 'PCRGuide.pdf' %></li>
			<li>Infection Control 
				(<%= link_to 'Part 1', :action => 'serve_file', :name => 'InfectionControlA.pdf' %> &amp; 
				<%= link_to 'Part 2', :action => 'serve_file', :name => 'InfectionControlB.pdf' %>)
			</li>
			<li><%= link_to 'CO Detector Manual', :action => 'serve_file', :name => 'CO.pdf' %></li>
		</ul>
	</div>

	<div id="forms" class="linkblk">
		<h4>Forms</h4>
		<ul>
			<li><%= link_to 'Online PCRs', 'https://www.idahopercs.org/default.cfm?page=login' %></li>
			<li><%= link_to 'Patient Assessment Form', :action => 'serve_file', :name => 'MCAAssessment.htm' %></li>
			<li><%= link_to 'Immunization Voucher', :action => 'serve_file', :name => 'voucher.jpg' %></li>
			<li><%= link_to 'Hep-B Form', :action => 'serve_file', :name => 'hepbform.pdf' %></li>
		</ul>
	</div>

	<div id="checkoff-lists" class="linkblk">
		<h4>Check-off Lists</h4>
		<ul>
			<li><%= link_to 'New Member Checkoff List', :action => 'serve_file', :name => 'checkofflist.pdf' %></li>
			<li><%= link_to 'Driver Orientation List', :action => 'serve_file', :name => 'DriverOrientation.pdf' %></li>
			<li><%= link_to 'EMT Recertification List', :action => 'serve_file', :name => 'EMT-BRecertForm.pdf' %></li>
		</ul>
	</div>
</div>

<h3>E-mail Links</h3>
<table class="nolines wide">
	<tbody>
		<tr>
			<td>
				<%= mail_to "mcaallmembers@mcaems.org", "All MCA members" %>
			</td>
			<td>
				<%= mail_to "mcaboard@mcaems.org", "All board members" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= mail_to "emsdoc@cableone.net", "Dr. Sturkie" %>
			</td>
			<td>
				<%= mail_to "statecom@idhw.state.id.us", "State Comm (Shana Monroe)" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= mail_to "michaelb@idhw.state.id.us", "Idaho State EMS Director (Brad Michaelson)" %>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>

<p class="small">
	<sup>*</sup>(The monthly board meeting is on the first Tuesday of the month and the monthly general meeting is 
	on the second Tuesday of the month. Both meetings are held at the Wilderness Ranch fire station.)
</p>
