<%- if false -%>
<%= image_tag 'Ambulance-Rear-Side.png', :class => 'img-right', :alt => 'Mores Creek Ambulance', :size => '173x175' %>
<%- end -%>
<h3>Meeting Schedule</h3>
<p>
	<ul>
		<li>
			The general meeting is in 
			<%= distance_of_time_in_words(Time.now, Time.new(@date_general.year, @date_general.month, @date_general.day, 19, 30)) %>
			(<%= @date_general.strftime("%a, %b %d") %><sup>*</sup> at 19:30)
		</li>
		<li>
			The board meeting is in
			<%= distance_of_time_in_words(Time.now, Time.new(@date_board.year, @date_board.month, @date_board.day, 19, 30)) %>
			(<%= @date_board.strftime("%a, %b %d") %><sup>*</sup> at 19:30)
		</li>
	</ul>
</p>

<h3><a href="https://www.idahopercs.org/default.cfm?page=login">Online PCRs</a></h3>

<h3>Web Links</h3>

<table class="nolines wide">
	<tbody>
		<tr>
		<td><a href="http://www.healthandwelfare.idaho.gov/DesktopModules/ArticlesSortable/ArticlesSrtView.aspx?tabID=0&amp;ItemID=1187&amp;mid=10964&amp;wversion=Staging">Health and Welfare, pediatric and adult guidelines</a></td>
		<td><a href="checkofflist.doc">New EMT Checkoff List (DOC)</a></td></tr>
		<tr>
		<td><a href="lz.htm">Life Flight Landing Zones</a></td>
		<td><a href="LZs.pdf">Area Map w/ LZs (PDF format)</a></td></tr>
		<tr>
		<td><a href="generalminutes/">General Meeting Minutes</a></td>
		<td><a href="boardminutes/">Board Minutes</a></td></tr>
		<tr>
		<td><a href="adboardminutes/">Advisory Board Meeting Minutes</a></td>
		<td><a href="treas/">MCA Treasury Reports</a></td></tr>
		<tr>
		<td><a href="ambops.htm">Ambulance Operations</a></td>
		<td><a href="hepbform.doc">Hep-B Form (MSWord)</a></td></tr>
		<tr>
		<td><a href="MCAAssessment.htm">MCA Patient Assessment Form</a></td>
		<td><a href="DriverOrientation.doc">Driver Orientation form (MS Word)</a></td></tr>
		<tr>
		<td><a href="checkofflist.doc">New Member Checkoff List (MW Word)</a></td>
		<td><a href="images/voucher.jpg">Immunization Voucher</a></td></tr>
		<tr>
		<td><a href="EMT-BRecertForm.doc">EMT Recert List (MW Word)</a></td>
		<td><a href="PCRGuide.pdf">Online PCR Guide</a></td></tr>
		<tr>
		<td><a href="SOPs.htm">MCA SOPs</a></td>
		<td><a href="bylaws.htm">MCA Bylaws</a></td></tr>
		<tr>
		<td><a href="InfectionControlA.pdf">Infection Control Part 1</a></td>
		<td><a href="InfectionControlB.pdf">Infection Control Part 2</a></td></tr>
	</tbody>
</table>

<h3>E-mail Links</h3>
<table class="nolines wide">
	<tbody>
		<tr>
			<td>
				<%= mail_to "mcaallmembers@mcaems.org", "All MCA members" %>
			</td>
			<td>
				<%= mail_to "mcaboard@mcaems.org", "All board members" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= mail_to "emsdoc@cableone.net", "Dr. Sturkie" %>
			</td>
			<td>
				<%= mail_to "statecom@idhw.state.id.us", "State Comm (Shana Monroe)" %>
			</td>
		</tr>
		<tr>
			<td>
				<%= mail_to "michaelb@idhw.state.id.us", "Idaho State EMS Director (Brad Michaelson)" %>
			</td>
			<td>
				&nbsp;
			</td>
		</tr>
	</tbody>
</table>

<h3>
	<a href="CO.pdf">CO Detector Manual</a>
</h3>

<p class="small">
	<sup>*</sup>(The monthly board meeting is on the first Tuesday of the month and the monthly general meeting is 
	on the second Wednesday of the month. Both meetings are held at the Wilderness Ranch fire station.)
</p>
