<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= title %></title>
	<meta name="author" content="Russ Whitney">
<%- unless @desc.nil? -%>
 	<meta name="description" content="<%= @desc %>">
<%- end -%>
 	<meta name="keywords" content="mores creek ambulance east boise county ems emt"> 
	<%# force page to expire from browser cache in 1 day, unless a time is specified %>
	<% if @content_expires %>
	<meta HTTP-EQUIV="Expires" CONTENT="<%= @content_expires %>">
	<% else %>
	<meta HTTP-EQUIV="Expires" CONTENT="<%= utc_string_tomorrow %>">
	<% end %>
	<%# Date: 2011-10-29 %>
	<%= favicon_link_tag %>
	<%= stylesheet_link_tag "application" %>
	<% if @sheets %>
		<% @sheets.each do |sheet| %>
	<%= stylesheet_link_tag sheet %>
		<% end %>
	<% end %>
	<%= javascript_include_tag "application" %>
	<% if @javascripts %>
		<% @javascripts.each do |javascript| %>
	<%= javascript_include_tag javascript %>
		<% end %>
	<% end %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<%= link_to(image_tag("header-logo.png", :id => "logo", :size => "180x175", :alt => "Mores Creek Ambulance Logo"), 
		:controller => "/welcome", :action => "index") %>
<% if controller.controller_name != 'welcome' %>
		<%= image_tag("header-banner-mo.png", :id => "mca-banner", :size => "608x175", :alt => "") %>
<% else %>
		<%= image_tag("header-banner.png", :id => "mca-banner", :size => "608x175", :alt => "") %>
<% end %>
<% if current_member %>
		<div id="signinstatus">
			<%= current_member.portable_name %>
			<%= button_to "Logout", destroy_member_session_path, :method => :delete %>
		</div>
<% end %>
	</div> <%# banner %>
	<div id="wrapper">
		<div id="sidebar">
			<ul>
				<li><%= link_to_unless_current 'Home Page', :controller => '/welcome', :action => 'index' %></li>
				<li><%= link_to_unless_current 'Members Only', :controller => '/members_only', :action => 'index' %></li>
<% unless current_member.nil? %>
				<li><%= link_to_unless_current 'Calendar', :controller => '/calendar', :action => 'index' %></li>
				<li><%= link_to_unless_current 'Roster', :controller => '/members', :action => 'index' %></li>
<% end %>
				<li><%= link_to_unless_current 'General Information', :controller => '/welcome', :action => 'generalinfo' %></li>
				<li><%= link_to_unless_current 'Getting Involved', :controller => '/welcome', :action => 'volunteerinfo' %></li>
				<li><%= link_to_unless_current 'Useful Links', :controller => '/welcome', :action => 'links' %></li>
<% unless current_member.nil? %>
				<li><%= link_to_unless_current 'Photos', :controller => '/members_only', :action => 'photos' %></li>
<% end %>
			</ul>
<% if controller.controller_name != 'welcome' %>
			<hr>
			<p>
				All information on this page (and the rest of the members-only area) is Mores Creek 
				member confidential. Do not share this information with 
				anyone outside of MCA without permission from the board.
			</p>
			<hr>
<% end %>
		</div> <%# sidebar %>
		<div id="maincontent">
<%- if flash[:error] -%><p class="error"><%= flash[:error] %></p><%- end -%>
<%- if alert -%><p class="alert"><%= alert %></p><%- end -%>
<%- if notice -%><p class="notice"><%= notice %></p><%- end -%>
<%= yield %>
		</div> <%# maincontent %>
		<div id="footer">
			Copyright (c) 2011-12, Mores Creek Ambulance
		</div>
	</div>  <%# wrapper %>
</body>
</html>
