<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= title %></title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Russ Whitney">
<%- unless @desc.nil? -%>
 	<meta name="description" content="<%= @desc %>">
<%- end -%>
 	<meta name="keywords" content="mores creek ambulance east boise county ems emt"> 
	<%# force page to expire from browser cache in 1 day %>
	<meta HTTP-EQUIV="Expires" CONTENT="<%= utc_string_yesterday %>">
	<%# Date: 2011-10-29 %>
	<%= stylesheet_link_tag "calendar" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
	<div id="banner">
		<div id="login"><%= current_member.portablename %></div>
		<div id="mo_nav"><%= link_to 'Members Home', :controller => "members_only", :action => "index" %></div>
		<h1>Mores Creek Shift Calendar</h1>
	</div>
	<div id="sidebar">
		<h2><%= @caldate.strftime("%B") %> hours</h2>
		<%- section = nil -%>
		<%- for member in @members -%>
			<%- if section == nil -%>
				<%- section = member.status -%>
		<h3><%= section %></h3>
		<ul>
			<%- elsif section != member.status -%>
				<%- section = member.status -%>
		</ul>
		<h3><%= section %></h3>
		<ul>
			<%- end -%>
			<li><span><%= member.monthly_total %></span><%- if member.portablename == current_member.portablename -%><em><%- end -%><%= member.portablename %><%- if member.portablename == current_member.portablename -%></em><%- end -%></li>
		<%- end -%>
		<%- if section != nil -%>
		</ul>
		<%- end -%>
	</div>
	<div id="maincontent">
	<%- if notice -%>
	<p class="notice"><%= notice %></p>
	<%- end -%>
	<%- if alert -%>
	<p class="alert"><%= alert %></p>
	<%- end -%>
<%= yield %>
	</div> <%# div maincontent %>
	</div> <%# div wrapper %>
</body>
</html>
