<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fullname, "Full name" %><br />
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :portablename, "Portable name" %><br />
    <%= f.text_field :portablename %>
  </div>
  <div class="field">
    <%= f.label :portablenumber, "Portable number" %><br />
    <%= f.number_field :portablenumber %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :privilege, "Privilege (active, admin, webadmin)" %><br />
    <%= f.text_field :privilege %>
  </div>
  <div class="field">
    <%= f.label :streetaddress, "Street Address" %><br />
    <%= f.text_field :streetaddress %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :area, "Area (CC, LP, WR, HC/OS, MRR, RCM, RC, RV, IC, TC)" %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :homephone, "Home Phone" %><br />
    <%= f.text_field :homephone %>
  </div>
  <div class="field">
    <%= f.label :workphone, "Work Phone" %><br />
    <%= f.text_field :workphone %>
  </div>
  <div class="field">
    <%= f.label :cellorotherphone, "Cell or Other Phone" %><br />
    <%= f.text_field :cellorotherphone %>
  </div>
  <div class="field">
    <%= f.label :shirtsize, "Shirt Size (e.g. S, M, L, XL, etc.)" %><br />
    <%= f.text_field :shirtsize %>
  </div>
  <div class="field">
    <%= f.label :status, "Status (Associate, Active, Probationary)" %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :miscnotes, "Miscellaneous Notes" %><br />
    <%= f.text_field :miscnotes %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
