<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name, "Full name" %><br />
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :first_name, "First name" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last name" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :portable_name, "Portable name" %><br />
    <%= f.text_field :portable_name %>
  </div>
  <div class="field">
    <%= f.label :portable_number, "Portable number" %><br />
    <%# f.number_field :portable_number %>
	<%= f.select :portable_number, @available_portable_numbers %>
  </div>
  <div class="field">
	<%= f.label :training_level, "Training level (EMT, EMR, Driver, Non Call)"%><br />
	<%= f.select :training_level, ["EMT", "EMR", "Driver", "Non Call"] %>
	<%# f.text_field :training_level %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :street_address, "Street Address" %><br />
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :area, "Area (CC, LP, WR, HC/OS, MRR, RCM, RC, RV, IC, TV)" %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :home_phone, "Home Phone" %><br />
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :work_phone, "Work Phone" %><br />
    <%= f.text_field :work_phone %>
  </div>
  <div class="field">
    <%= f.label :cell_or_other_phone, "Cell or Other Phone" %><br />
    <%= f.text_field :cell_or_other_phone %>
  </div>
  <div class="field">
    <%= f.label :shirt_size, "Shirt Size (e.g. S, M, L, XL, etc.)" %><br />
    <%= f.text_field :shirt_size %>
  </div>
  <div class="field">
    <%= f.label :status, "Status" %><br />
    <%= f.select :status, ["Active", "Probationary", "Associate", "LOA", "Not-Active", "Past Member"] %>
  </div>
  <div class="field">
    <%= f.label :misc_notes, "Miscellaneous Notes" %><br />
    <%= f.text_field :misc_notes %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
<% if current_member.can_admin_members? %>
  <div class="field">
	<%= f.check_box :admin_calendar %> Administers the calendar (board member)
  </div>
<% end %>
<% if current_member.can_admin_admins? %>
  <div class="field">
	<%= f.check_box :admin_hr %> Administers members (personnel officer)
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
