<h1>Mores Creek Roster</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Num</th>
    <th>Area</th>
    <th>Phone</th>
    <th>Status</th>
	<th>Notes</th>
	<th <% if current_member.can_admin_members? %>colspan=2<% end %>>
  </tr>

<% @members = MembersHelper.get_members_in_roster_order(current_member) %>
<% category = "" %>
<% @members.each do |member| %>
	<% member_category = MembersHelper.get_category(member) %>
	<% if category != member_category %>
		<% category = member_category %>
		<% count = MembersHelper.get_category_count(@members, category) %>
	<tr>
	   	<th colspan=<% if current_member.can_admin_members? %>"8"<% else %>"7"<% end %>>
			<%= pluralize(count, category) %>
		</th>
	</tr>
	<% end %>

  <tr>
	<td><%= mail_to member.email, member.last_name_first %><br /><%= member.portable_name %></td>
    <td><%= member.portable_number %></td>
    <td><%= member.area %></td>
    <td>
		<% if member.has_home_phone %>h.&nbsp;<%= member.home_phone %><% end %>
		<% if member.has_home_phone && (member.has_work_phone || member.has_cell_phone) %><br /><% end %>
		<% if member.has_work_phone %>w.&nbsp;<%= member.work_phone %><% end %>
		<% if member.has_work_phone && member.has_cell_phone %><br /><% end %>
		<% if member.has_cell_phone %>m.&nbsp;<%= member.cell_or_other_phone %><% end %>
	</td>
    <td><%= MembersHelper.get_status(member) %></td>
	<td class="small"><%= member.misc_notes %></td>
    <td><%= link_to 'Details', member %></td>
<% if current_member.can_admin_members? %>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
<% end %>
  </tr>
<% end %> <%# for each member %>
</table>

<br />
<% if current_member.can_admin_members? %>
<%= link_to 'New Member', new_member_path %><br />
<%= link_to 'Compliance Report', :action => 'compliance' %>
<% end %>
