<h1>Mores Creek Roster</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Num</th>
    <th>Email</th>
    <th>Area</th>
    <th>Phone</th>
    <th>Status</th>
    <th></th>
<% if current_member.admin? %>
    <th></th>
<% end %>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.fullname %></td>
    <td><%= member.portablenumber %></td>
    <td><%= member.email %></td>
    <td><%= member.area %></td>
    <td>
		<% if member.has_home_phone %>h.&nbsp;<%= member.homephone %><% end %>
		<% if member.has_home_phone && (member.has_work_phone || member.has_cell_phone) %><br /><% end %>
		<% if member.has_work_phone %>w.&nbsp;<%= member.workphone %><% end %>
		<% if member.has_work_phone && member.has_cell_phone %><br /><% end %>
		<% if member.has_cell_phone %>m.&nbsp;<%= member.cellorotherphone %><% end %>
	</td>
    <td><%= member.status %></td>
    <td><%= link_to 'Details', member %></td>
<% if current_member.admin? %>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_member.admin? %>
<%= link_to 'New Member', new_member_path %>
<% end %>

<table >
