<p>
  <b>Full Name:</b>
  <%= @member.fullname %>
</p>

<p>
  <b>Portable Name:</b>
  <%= @member.portablename %>
</p>

<p>
  <b>Portable Number:</b>
  <%= @member.portablenumber %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Street Address:</b>
  <%= @member.streetaddress %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @member.zip %>
</p>

<p>
  <b>Area:</b>
  <%= @member.area %>
</p>

<p>
  <b>Home Phone:</b>
  <%= @member.homephone %>
</p>

<p>
  <b>Work Phone:</b>
  <%= @member.workphone %>
</p>

<p>
  <b>Cell or Other Phone:</b>
  <%= @member.cellorotherphone %>
</p>

<p>
  <b>Shirt Size:</b>
  <%= @member.shirtsize %>
</p>

<p>
  <b>Status:</b>
  <%= @member.status %>
</p>

<p>
  <b>Miscellaneous Notes:</b>
  <%= @member.miscnotes %>
</p>

<p>
  <b>Admin:</b>
  <%= @member.admin %>
</p>

<%= link_to 'Destroy', @member, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
