<p id="notice"><%= notice %></p>

<p>
  <b>Fullname:</b>
  <%= @member.fullname %>
</p>

<p>
  <b>Portablename:</b>
  <%= @member.portablename %>
</p>

<p>
  <b>Portablenumber:</b>
  <%= @member.portablenumber %>
</p>

<p>
  <b>Email:</b>
  <%= @member.oldemail %>
</p>

<p>
  <b>Privilege:</b>
  <%= @member.privilege %>
</p>

<p>
  <b>Streetaddress:</b>
  <%= @member.streetaddress %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @member.zip %>
</p>

<p>
  <b>Area:</b>
  <%= @member.area %>
</p>

<p>
  <b>Homephone:</b>
  <%= @member.homephone %>
</p>

<p>
  <b>Workphone:</b>
  <%= @member.workphone %>
</p>

<p>
  <b>Cellorotherphone:</b>
  <%= @member.cellorotherphone %>
</p>

<p>
  <b>Shirtsize:</b>
  <%= @member.shirtsize %>
</p>

<p>
  <b>Status:</b>
  <%= @member.status %>
</p>

<p>
  <b>Miscnotes:</b>
  <%= @member.miscnotes %>
</p>

<p>
  <b>Password:</b>
  <%= @member.password %>
</p>

<p>
  <b>Salt:</b>
  <%= @member.salt %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
