<p>
  <b>Full Name:</b>
  <%= @member.full_name %>
</p>

<p>
	<b>First Name:</b>
	<%= @member.first_name %>
</p>

<p>
	<b>Last Name:</b>
	<%= @member.last_name %>
</p>

<p>
  <b>Portable Name:</b>
  <%= @member.portable_name %>
</p>

<p>
  <b>Portable Number:</b>
  <%= @member.portable_number %>
</p>

<p>
	<b>Training Level:</b>
	<%= @member.training_level %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Street Address:</b>
  <%= @member.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @member.zip %>
</p>

<p>
  <b>Area:</b>
  <%= @member.area %>
</p>

<p>
  <b>Home Phone:</b>
  <%= @member.home_phone %>
</p>

<p>
  <b>Work Phone:</b>
  <%= @member.work_phone %>
</p>

<p>
  <b>Cell or Other Phone:</b>
  <%= @member.cell_or_other_phone %>
</p>

<p>
  <b>Shirt Size:</b>
  <%= @member.shirt_size %>
</p>

<p>
  <b>Status:</b>
  <%= @member.status %>
</p>

<p>
  <b>Miscellaneous Notes:</b>
  <%= @member.misc_notes %>
</p>

<% if current_member.can_admin_members? %>
<p>
  <b>Calendar Admin:</b>
  <%= @member.admin_calendar %>
</p>
<% end %>

<% if current_member.can_admin_admins? %>
<p>
  <b>Personnel Admin:</b>
  <%= @member.admin_hr %>
</p>
<% end %>

<%= link_to 'Destroy', @member, confirm: 'Are you sure?', method: :delete %> |
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
